html{
    height: 100%;
    width:100%;
}
body{
    margin: 0px;
    padding:0px;
    height: 100%;
    position: relative;
    font-family: "Arail","Microsoft YaHei","Heiti";
}
ul{
    padding:0px;
    margin: 0px;
    list-style: none;
}
a{
    text-decoration: none!important;
}
label{
    font-weight: normal;
}
label.error{
    color: red;
}
.checkbox{
    margin-left: 5px;
}
.hidden{
    display: none;
}
.width50{
    width:50px;
}
.left{
    width: 180px;
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 0px;
    background: rgb(75, 82, 92);
}
.right{
    border-left: 1px solid #ccccc8;
    background: #F7F7F7;
    padding:50px 30px;
    border-top:3px solid #699BD2;
    position: absolute;
    left:180px;
    top:70px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}
.main{
    width: 100%;
    margin: 0px auto 0px auto;
}
.hasRightBorder{
    border-right:1px solid #ccc;
}
.hasLeftBorder{
    border-left:1px solid #ccc;
}
.header{
    position: relative;
    background: #fff;
    height: 70px;
}

/**
*logo
*/
.logo{
    width: 100%;
    height: 100px;
    margin: 0px;
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
}
/*topNav*/
.topNav{
    position: absolute;
    top:0;
    right: 0;
    height: 70px;
    width:200px;
}
.topNav ul{
    display: flex;
}
.topNav ul li{
    flex:1;
}
.topNav ul li a{
    display: block;
    width:100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    font-size: 12px;
    color: #9FA0A0;
}
.topNav ul li a:hover{
    color: #4B525C;
}
/**
*menu
*/
.menu{

}
.menu .separate{
    height: 10px;
    background: #fff;
}
.menu .item {
    min-height: 40px;
    width: 100%;
    line-height: 40px;
    position: relative;
    border-top:1px solid #000;
}
.menu .item:first-child{
    border: none;
}
.menu .item .glyphicon{
    padding: 0px 10px;
    cursor: pointer;
    color: #9FA0A0;
}
.menu .item .link{
    font-size: 16px;
    color: #9FA0A0;
    display: inline-block;
    position: absolute;
    left:34px;
    top:0px;
    bottom: 0px;
    right:0px;
    height: 100%;
    padding-left: 5px;
    cursor: pointer;
}
.menu .item:hover{
    background: #000;
}
.menu .item:hover .link,.menu .item:hover .glyphicon{
    color: #fff;
}
/*.menu .item:hover .subMenu{
    display: block;
}*/
.subMenu{
    background: #f9f9f2;
    display: none;
}
.subMenu .sItem{
    height: 35px;
    position: relative;
}
.subMenu .sItem .circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #edece3;
    font-size: 0px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
}
.subMenu .sItem .sLink{
    font-size: 12px;
    color: #727171;
    display: inline-block;
    position: absolute;
    left:34px;
    top:0px;
    bottom: 0px;
    right:0px;
    height: 100%;
    padding-left: 25px;
}
.subMenu .sItem:hover .circle {
    background: #5dc05f;
}
.subMenu .sItem:hover .sLink{
    color: #5dc05f;
}

/**
*复写datatable
*/
.tableSearchContainer{
    margin: 10px 0px;
}
table.dataTable{
    margin-top: 20px;
    width: 100%;
}
table.dataTable thead {
    background: #f5f5f5;
}
table.dataTable thead th{
    color: #699BD2;
    border: none;
    font-weight: normal;
    padding: 5px;
    text-align: center;
    line-height: 30px!important;
}
table.dataTable tr{
    line-height: 25px!important;
}
table.dataTable td {
    padding: 5px!important;
    text-align: center;
}
table.dataTable .thumb{
    width: 100px;
    height: auto;
}
.dataTables_paginate,.dataTables_info{
    margin-top: 15px;
}
.paging_full_numbers a.paginate_button{
    background: #fff;
    padding: 5px 10px;
}
.paging_full_numbers a.paginate_button:hover,.paging_full_numbers a.paginate_active{
    background: #F7F7F7;
    color: #699BD2!important;
    padding: 5px 10px;
}

/**
*loading
*/
.loading{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    opacity: .5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    background: #000;
}
.loading .text{
    position: absolute;
    left:50%;
    top:50%;
    color:#fff;
}

/************************lists**********************************/
.list{

}
.list li{
    display: inline-block;
    padding-left:5px;
    margin-top:5px;
}
.list li .name{
    width: 80px;
    font-weight: normal;
}
.ctrlPanel{
    margin-top: 5px;
    margin-left:20px;
}
/******************8-------------------覆写bootstrap------------------*******************/
.label{
    font-weight: normal;
}
.text-primary{
    color: #699bd2;
}
.tab-content .tab-pane{
    padding-top:10px;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
.radio-inline, .checkbox-inline{
    margin-right: 7px;
    margin-left: 0px !important;
}
.panel-default > .panel-heading{
    background: none;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.3);
}
.panel-default .panel-title{
    color: #699bd2;
}
.form-group .controlUnit{
    line-height: 34px;
    padding-left: 0px;
}

/***********************************统计页面**************************/
.statCounts{
    text-align: center;
}
.statCounts .count{
    font-size: 36px;
}
.statCounts .label{
    display: block;
    font-size: 14px;
    color: #3E3A39;
}